@import "../../style/breakPoints.scss";
$textColor: #fff;

.await {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $textColor;

  .table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1 {
      text-align: center;
      color: $textColor;
    }

    .table_title {
      color: $textColor;
      display: flex;
      text-align: center;
      justify-content: space-between;
    }

    .capital_list {
      display: flex;
      text-align: center;
      justify-content: space-between;
      color: $textColor;

      p {
        font-weight: 600;
        width: 14%;
        text-align: left;

        span {
          font-weight: 300;
        }
      }
    }
  }

  .table_box {
    color: $textColor;
    border-spacing: 20px;
    text-align: center;

    td {
      opacity: 0.5;
    }
  }
  .capital_name {
    color: $textColor;
    font-weight: 600;
  }
}

// loader

.loader_box {
  display: flex;
  align-items: center;
  color: #fff;
  width: 72%;
  margin: 0 auto;

  p {
    font-size: 29px;
    margin: 0 0 20px 0;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media only screen and (max-width: $sm) {
  .await {
    .table_box {
      border-spacing: 10px;
      td {
        font-size: 10px;
      }
    }
  }
}
