$textColor: #fff;
$hover: #38bebe;

.crumbs_box {
  margin: 2% auto 0;

  .crumbs {
    color: $textColor;
    font-weight: 700;
    letter-spacing: 5px;
    text-decoration: none;
    transition: 0.5s;
  }

  .crumbs:hover {
    color: $hover;
    transition: 0.5s;
  }
}
