$textColor: #fff;

.country_display {
  display: flex;
  width: 80%;
  margin: 10% auto 0;
  justify-content: space-evenly;

  .main_flag {
    width: 50%;
  }

  .description {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: $textColor;

    span {
      opacity: 0.5;
    }
  }
}
