@import "../../style/breakPoints.scss";

$textColor: #fff;

.country_display {
  display: flex;
  margin: 5% auto 0;
  justify-content: space-evenly;

  .main_flag {
    width: 50%;
    object-fit: cover;
  }

  .description {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: $textColor;
    flex-direction: column;

    .description_text {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    span {
      opacity: 0.5;
    }

    .border_box {
      width: 25%;
    }

    .borders {
      display: flex;
      width: 83%;
      align-items: center;
      flex-wrap: wrap;

      .borders_block {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: $xl) {
  .country_display {
    justify-content: space-between;
    .description {
      width: 40%;
    }
  }
}

@media only screen and (max-width: $md) {
  .country_display {
    display: block;
    .main_flag {
      width: 100%;
    }
    .description {
      width: 100%;
      .borders {
        width: 100%;
        justify-content: center;
        .borders_block {
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: $sm) {
  .country_display {
    display: block;
    .main_flag {
      width: 100%;
    }
    .description {
      align-items: start;
      .description_text {
        align-items: start;
        flex-direction: column;
      }
      .borders {
        width: 100%;
        justify-content: start;
        .borders_block {
          justify-content: start;
        }
      }
    }
  }
}
