@import "../../style/breakPoints.scss";

$TextColor: #fff;
$bgDesc: #474a50;

.search_input {
  background: $bgDesc;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: $TextColor;
  width: 30%;
}

.search_input::placeholder {
  color: $TextColor;
  font-size: 10px;
}

.search_input:focus {
  outline: none;
}

@media only screen and (max-width: $md) {
  .search_input {
    width: 45%;
  }
}

@media only screen and (max-width: $sm) {
  .search_input {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }
}
