@import "../style/breakPoints.scss";

$bgBody: #282c34;
$TextColor: #fff;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgBody;
}

.card_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 90%;
  margin: 5% auto;
  flex-wrap: wrap;
  gap: 60px;
}

.main-app {
  margin: 2% 10%;
  border: 1px ridge #464141;
  padding: 5%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: #464141;
}

.container {
  border-bottom: #fff 2px ridge;
}

.pagination {
  margin-top: 45px;
  margin-left: -40px;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a {
  background-color: #47ccde;
  color: #fff;
}

.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
  background-color: azure;
}

.countryPage_wrapper {
  width: 90%;
  margin: 0 auto;
}

.fade-enter,
.fade-exit {
  transition: transform 3000ms ease-out;
}

.fade-enter {
  transform: translateX(100%);
}

.fade-exit {
  transform: translateX(0%);
}

.fade-exit-active {
  transform: translateX(-100%);
}



@media only screen and (min-width: $xxl) {
  .card_wrapper,
  .countryPage_wrapper {
    max-width: 1400px;
  }
}

@media only screen and (max-width: $xl) {
  .card_wrapper {
    gap: 30px;
  }
}

@media only screen and (max-width: $sm) {
  .card_wrapper {
    gap: 30px;
  }
}
